@import './core/variables.scss';
@import './core/mixins.scss';

.Clock {
  height: 100px;
  width: 260px;
  @include tablet() {
    height: 180px;
    width: 350px;
  }
  @include desktop() {
    height: 220px;
    width: 400px;
  }
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--white {
    background-color: $color-light;
    color: $color-dark;
    border: 2px solid $color-dark;
  }
  &--black {
    background-color: $color-dark;
    color: $color-light;
  }
  &__numbers {
    font-size: 4rem;
    @include tablet() {
      font-size: 7rem;
    }
    @include desktop() {
      font-size: 8rem;
    }
  }
}
