@import './core/variables.scss';

.Clock {
  font-family: $font-clock;
  height: 180px;
  width: 350px;
  border: 1px solid $color-dark;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--white {
    background-color: white;
    color: black;
  }
  &--black {
    background-color: black;
    color: white;
  }
  &__numbers {
    font-size: 6rem;
  }
}
