@import './core/variables.scss';
@import './core/mixins.scss';

.ClocksPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: 100;
  }
  &__img {
    height: 24px;
    width: 27px;
    margin-top: 5px;
    transform: rotate(90deg);
    cursor: pointer;
  }
  &__clocks {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    @include tablet() {
      flex-direction: row;
      justify-content: space-between;
    }
    &--black {
      background-color: $color-dark;
    }
  }
  &__wrapper {
    width: 740px;
  }
  &__button {
    margin: 10px;
    @include button();
    &--stop {
      background-color: $color-alert;
    }
    &--link {
      text-decoration: none;
      color: inherit;
    }
  }
}
