@import './core/variables.scss';

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}
