@import './core/variables.scss';
@import './core/mixins.scss';

.GameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    font-size: 0.9rem;
    margin: 10px 0px;
    font-weight: 100;
  }
  &__button {
    @include button();
    &--link {
      text-decoration: none;
      color: inherit;
    }
  }
}
