@import './core/variables.scss';

.Landing {
  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
  }
  &__wrapper {
    margin-top: 5px;
    width: 304px;
    position: relative;
  }
  &__button {
    margin: 3px;
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    background-color: #119da4;
    color: white;
    &--reset {
      margin-bottom: 5px;
    }
    &--next {
      position: absolute;
      right: 0px;
    }
    &--link {
      text-decoration: none;
      color: inherit;
      padding: 5px 20px;
    }
    &--disabled {
      background-color: #f0f0f0;
      color: black;
      border: none;
      cursor: default;
      position: absolute;
      right: 0px;
    }
  }
}
