@import './core/variables.scss';
@import './core/mixins.scss';

.Landing {
  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    width: 304px;
  }
  &__button {
    @include button();
    &--link {
      text-decoration: none;
      color: inherit;
      padding: 5px 13px;
    }
    &--disabled {
      background-color: $color-disabled;
      color: $color-dark;
      cursor: default;
    }
  }
}
