@import './core/variables.scss';
@import './core/mixins.scss';

.PredefinedSettings {
  width: 280px;
  @include tablet() {
    width: 360px;
  }
  margin-bottom: 5px;
  border-radius: 1px;
  padding: 5px;
  border: 2px solid $color-primary;
  &__title {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__button {
    @include button();
    margin: 3px;
  }
}
