@import './core/variables.scss';

.PredefinedSettings {
  width: 300px;
  margin-bottom: 5px;
  border-radius: 1px;
  padding: 10px;
  border: 2px solid #4b648a;
  &__title {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__button {
    height: 25px;
    width: 75px;
    margin: 3px;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    background-color: #4b648a;
    color: white;
  }
}
