@import './core/variables.scss';

.SetupForm {
  width: 300px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.75rem;
  background-color: #f0f0f0;
  &__title {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
  }
  &__wrapper {
    border-radius: 5px;
    &--up {
      background-color: #f0f0f0;
    }
    &--down {
      background-color: #f0f0f0;
    }
  }
  &__label {
    display: block;
    margin: 5px 0px;
  }
  &__input {
    width: 40px;
    margin-right: 10px;
    padding-left: 3px;
    font-size: 0.6rem;
    height: 15px;
    color: $color-font;
  }
  &__bold {
    font-weight: bold;
  }
}
