@import './core/variables.scss';

.WhitesLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  &__clocks {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    margin: 3px;
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border-style: none;
    background-color: $color-dark;
    color: $color-light;
    cursor: pointer;
    &--link {
      text-decoration: none;
      color: inherit;
    }
  }
}
