//colors
$color-primary: #667fa1;
$color-secondary: #d0dff4;
$color-dark: black;
$color-light: white;
$color-font: black;
$color-alert: rgb(180, 52, 52);
$color-disabled: #f0f0f0;

//fonts
$font-size: 16px;
$font-main: 'Roboto', sans-serif;
$font-clock: 'Orbitron', sans-serif;
